page-films {
    $tabs-tab-color-active: color($colors, secondary);
    $tabs-background: color($colors, primary);
    $background-color: color($colors, dark);
    $list-border-color: color($colors, light);
    $text-color: #fff;
    $card-md-header-color: #fff;
    $card-ios-header-color: #fff;
}
